{% extends "project.html" %}

{% block title_name %}
<style>
div.container
{
    width:100%;
    height:100%;
    float:top;
}
div.header
{
    background-color:#FFA500;
}
h1
{
    margin-bottom:0;
    text-align:center;
}
div.menu
{
    background-color:#FFD700;
    height:90%;
    width:20%;
    float:left;
    text-align:center;
}
div.content
{
    background-color:#EEEEEE;
    height:90%;
    width:80%;
    float:left;
}
</style>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles2.css" >
    <title>
        {{ node.title }}
    </title>
{% endblock %}

{% block content %}
    <div class="container">

    <div class="header">
        <h1>
            {{ node.title }}
        </h1>
    </div>

    <div class="menu">
        <img src="{{ node.posters.detailed }}">
        </img>
        <p>
            <b>Rating:</b>
        </p>
        <p>
            <i>Critics Score:</i>
            {{ node.ratings.critics_score }}
        </p>
        <p>
            <i>Audience Score:</i>
            {{ node.ratings.audience_score }}
        </p>
        
    </div>

    <div class="content">
        <p>
            <i>{{ node.synopsis }}</i>
        </p>
        <p>
            <b>CAST:</b>
        </p>
        {% for cast in node.abridged_cast %}
            <p>
                <i>{{ cast.name }}</i>
                {% if cast.characters %}
                    <i> playing </i>
                    <br>
                    {% for role in cast.characters %}
                        <i>{{ role }}</i>
                        <br>
                    {% endfor %}
                {% endif %}
            </p>
        {% endfor %}        
    </div>
{% endblock %}
