{% extends "project.html" %}

{% block title_name %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles1.css" >
<title>
    movies
</title>
{% endblock %}

{% block heading_name %}
<h1>
    <center>
        MOVIES
    </center>
</h1>
{% endblock %}


{% block content %}
<table summary="table for movie release in 2014" align="center">
    <thead>
        <tr>
            <th class="movie">Movie</th>
            <th class="release_date">Release Date</th>
            <th class="mpaa_rating">MPAA Rating</th>
            <th class="poster">Poster</th> 
        </tr>
    </thead>
    {% for movie in node.movies %}
        <tbody>
            <tr>
                <td class="start">
                        <a href="/{{ addr }}{{ movie.title }}/">{{ movie.title }}</a>
                </td>
                <td>{{ movie.release_dates.theater }}</td>
                <td>{{ movie.mpaa_rating }}</td>
                <td><img src="{{ movie.posters.thumbnail }}"></img></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}
