div
.container
{
    width:100%;
    height:100%;
    float:top;
}
.header
{
    background-color:#FFA500;
}
.menu
{
    background-color:#FFD700;
    height:90%;
    width:20%;
    float:left;
    text-align:center;
}
.content
{
    background-color:#EEEEEE;
    height:90%;
    width:80%;
    float:left;
}

