div.container
{
    width:100%;
    height:100%;
    float:top;
}
div.header
{
    background-color:#FFA500;
}
h1
{
    margin-bottom:0;
    text-align:center;
}
div.menu
{
    background-color:#FFD700;
    height:90%;
    width:20%;
    float:left;
    text-align:center;
}
div.content
{
    background-color:#EEEEEE;
    height:90%;
    width:80%;
    float:left;
}
